<%- include("partials/headerOut") -%>

<div class="collection-homepage col-6">
  <p"collection-homepage">Collections</p>

</div>


<div class="existing-collection col-3">
  <div class="add-item-collection">
    <a href="#" id= "add-more-collection"><i class="fas fa-plus-circle"></i> Add More Collections...</a>
  </div>


  <ul>
    <a href="/allthevocab" id="first-collection"><li>All the words</li></a>
    <a href="#" id="second-collection"><li>Sapiens</li></a>
    <a href="#" id="third-collection"><li>Moveable Feast</li></a>
    <a href="#" id="fourth-collection"><li>coding</li></a>
  </ul>

</div>




<%- include("partials/footer") -%>
