<%- include("partials/headerIn") -%>
<div class="DejaVu">
  <p>Deja Vu</p>
</div>
<div class="log-reg col-3">
    <a class="initial-reg" href="/Register" role="button">Register</a>
    <a class="initial-log" href="/Login" role="button">Login</a>


</div>

<%- include("partials/footer") -%>
